.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml

# 大文件 - 视频文件
source/movies/videos/*.mp4
source/movies/videos/*.ts
*.mp4
*.ts
 .idea/
 *.iml
 *.swp
 *.swo
 *~
